<div class = "header">
    <h1 id = "wordle">Wordle</h1>
    <nav class="headerNav">
        <ul class = "headerNavUl">
            <li><a href="/">Wordle</a></li>
            <li><a href="/highscore">Highscores</a></li>
            <li><a href="/info">About us</a></li>
        </ul>
    </nav>
</div>