<h1 id = "highscoreH1">Highscores</h1>
<div class = "highscoreDiv">
    <div class = "highscoreInd">
        <h2 id="highscoreName">Emelie</h2>
        <h2 id="highscoreTime">01:00</h2>
        <p id ="highscoreType">3-letter words</p>
    </div>
</div>